@font-face {
  font-family: "MelodySummer";
  src: url("../font/Melody\ Summer.ttf") format("truetype");
}

body {
  margin: 2em auto;
  max-width: 50em;
  text-align: center;
  background: #daeaf3 url(../img/beach.png) center/cover no-repeat fixed;
  font-family:-apple-system, BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen", 
  "Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica  Neue","Helvetica",
  "Arial",sans-serif;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  font-size: 1em;
  color: darkslategray;
}

h2 {
  font-family: "MelodySummer", Helvetica, Arial, sans-serif;
  font-size: 3em !important;
  margin: 0.5em 0 !important;
  color: MediumSeaGreen !important;
}

a {
  text-decoration: none;
  color: DodgerBlue;
}

a:hover {
  text-decoration: underline;
}

button {
  padding: 0.5em;
  margin: 0.5em 0.5em 0.75em;
  width: 100px;
  font-size: 1em;
  font-variant: small-caps;
  letter-spacing: 1pt;
  border: none;
  border-radius: 0.25em;
  background-color: MediumSeaGreen;
  color: white;
  cursor: pointer;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.22);
  transition: 0.3s;
  user-select: none;
}

button:hover {
  background-color: LimeGreen;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.15),
    inset 0 -3px 0 rgba(0, 0, 0, 0.22);
}

button:disabled {
  background-color: Gainsboro;
  color: DarkGray;
  cursor: default;
}

button:disabled:hover {
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.22);
}

label,
.data {
  display: block;
}

.data {
  margin: 0.25em auto 0;
  padding: 0.5em;
  background-color: white;
  max-width: 250px;
}

input {
  width: 250px;
  padding: 0.75em;
  border: 1px solid gray;
  border-radius: 5px;
}

input,
button:enabled,
#firebase,
.data {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

footer {
  margin: 2.5em 0 2em;
}

.mandatory {
  color: #ff2450;
}

.margins {
  margin: 0 1em;
}

#banner {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 15px;
  border: 1px solid gold;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.15);
}

#firebase {
  width: 100%;
  max-width: 128px;
  height: auto;
}

#regtr, #data {
  display: none;
}

.btns {
  margin: 1.5em 0 1em;
}

@media (min-width: 576px) {
  label,
  .data {
    display: inline-block;
    text-align: left;
  }

  label {
    width: 100px;
  }

  .data {
    width: 250px;
  }

  #banner {
    max-width: 400px;
  }
}