/* "Mobile first" */

@font-face {
  font-family: "MelodySummer";
  src: url("../font/Melody\ Summer.ttf") format("truetype");
}

@font-face {
  font-family: "SummerSplash";
  src: url("../font/Summer\ Splash.otf") format("opentype");
}

body {
  margin: 0.5em auto;
  width: 95%;
  text-align: center;
  background: #daeaf3 url(../img/beach.png) center/cover no-repeat fixed;
  color: DimGray;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: DodgerBlue;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-family: "SummerSplash", Helvetica, Arial, sans-serif;
  font-size: 2em;
  color: Gold;
  text-shadow: 3px 3px 0px DarkOrange;
}

h2 {
  font-family: "MelodySummer", Helvetica, Arial, sans-serif;
  font-size: 3em;
  margin: 0.1em 0;
  color: MediumSeaGreen;
}

button {
  font-family: "SummerSplash", Helvetica, Arial, sans-serif;
  /* padding: 0.6em 1em 0.5em; */
  padding: 1em;
  margin: 0.75em 0.5em 0.75em;
  width: 150px;
  font-size: 1em;
  font-variant: small-caps;
  letter-spacing: 1pt;
  border: none;
  border-radius: 0.25em;
  background-color: MediumSeaGreen;
  color: white;
  cursor: pointer;
  box-shadow: inset 0 -3px 0 rgba(0,0,0,0.22);
  transition: 0.3s;
  user-select: none;
}

button:hover {
  background-color: LimeGreen;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.15), inset 0 -3px 0 rgba(0,0,0,0.22);
}

#score,
main {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.15);
}

button:disabled {
  background-color: Gainsboro;
  color: DarkGray;
  cursor: default;
}

button:disabled:hover {
  box-shadow: inset 0 -3px 0 rgba(0,0,0,0.22);
}

header img {
  width: 100%;
  max-width: 64px;
  height: auto;
  vertical-align: middle;
  padding-bottom: 0.25em;
}

main {
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.5em;
}

#quiz,
#result {
  display: none;
}

#score {
  width: 290px;
  margin: 150px auto 2em;
  padding-bottom: 0.4em;
  background-color: #daeaf3;
  border-radius: 7px;
  animation: fadeIn linear 0.3s;
  -webkit-animation: fadeIn linear 0.3s;
  -moz-animation: fadeIn linear 0.3s;
  -o-animation: fadeIn linear 0.3s;
  -ms-animation: fadeIn linear 0.3s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

#score svg {
  width: 250px;
  height: 138px;
  margin-top: -140px;
  padding-bottom: 8px;
}

#score p {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-family: "SummerSplash", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  color: DarkOrange;
  text-shadow: 2px 2px 0px Gold;
}

#error {
  border: none;
  padding-left: 3em;
  padding-right: 3em;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

#error div {
  outline: none;
}

#error::backdrop {
  position: fixed;
  inset: 0;
  background: #0006 !important;
  backdrop-filter: blur(2px);
}

#error h2 {
  margin-top: 0.75em;
}

#ok {
  margin: 1.5em 0 0.75em;
  padding: 0.75em 2em 0.5em;
  border: none;
  border-radius: 22px;
  text-transform: uppercase;
}

#ok:focus {
  outline: 2px solid LightSeaGreen;
}

#zone {
  border: none;
  background: none;
}

.spinner {
  margin: 0 auto;
  border: 5px solid LightGray;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: DarkOrange;

  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

footer {
  margin: 2em 0;
}

#github {
  width: 16px;
  height: auto;
  vertical-align: middle;
}

#tMeter {
  display: none;
}

#total {
  display: inline-block;
  margin-top: 1em;
  position: relative;
  width: 200px;
}

#total::before {
  content: "Poor";
  font-size: small;
  position: absolute;
  top: -80%;
  left: 0;
}

#total::after {
  content: "Excellent";
  font-size: small;
  position: absolute;
  top: -80%;
  right: 0;
}

#scoresTable {
  width: 250px;
  margin: 2em auto 1em;
  border-collapse: collapse;
  font-size: 0.75em;
}

#scoresTable table,
#scoresTable tr,
#scoresTable th,
#scoresTable td {
  padding: 0.25em 0.5em;
  border: 2px solid LightSeaGreen;
}

#scoresTable th {
  font-variant: small-caps;
  color: SeaGreen;
  background-color: HoneyDew;
}

label[for=total],
label[for=numQuestions] {
  font-variant: small-caps;
  color: SeaGreen;
}

#numQ {
  margin-top: 1em;
}

#info {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

form[name="quizForm"]  {
  width: 90%;
  margin: 2em auto 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
}

form[name="quizForm"] div {
  flex: 1 95%;
}

.button-label {
  display: block;
  text-align: center;
  padding: 1em;
  cursor: pointer;
  border-radius: 0.25em;
  background: PeachPuff;
  box-shadow: inset 0 -3px 0 rgba(0,0,0,0.22);
  transition: 0.3s;
  user-select: none;
}

.button-label:hover {
  background: BlanchedAlmond;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15), inset 0 -3px 0 rgba(0,0,0,0.22);
}

input:checked + .button-label {
  background: Salmon;
  color: white;
}

input:checked + .button-label:hover {
  background: LightSalmon;
  color: white;
}

.hidden {
  display: none;
}

.box {
  margin: 50px auto .5em;
  width: 80%;
  box-shadow: inset 0 -3px 0 rgba(0,0,0,0.22);
}

.box2 {
  width: 90%;
  margin: .5em auto .5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box2 span {
  background-color: lightgoldenrodyellow;
  padding: 1em;
  border: 2px solid yellow;
  border-radius: 3em;
  flex: 1 95%;
}

.box3 {
  margin: 85px auto .5em;
  width: 250px;
}

.box, .box3 {
  background-color: lightgoldenrodyellow;
  padding: .2em 1em 2em;
  border-radius: 1em;
}

.box img {
  margin-top: -50px;
  max-width: 150px;
}

.box2 img {
  max-width: 50px;
}

.box3 img {
  margin-top: -70px;
  max-width: 100px;
}

.box img, .box2 img, .box3 img {
  width: 100%;
  height: auto;
}

#info {
  width: 90%;
  margin: 0 auto 1em;
  font-size: small;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#info p {
  font-variant: small-caps;
  color: silver;
  margin: 0 0 -1em;
  padding: 0;
  flex: 1 95%;
}

#info p span {
  font-weight: bold;
  color: LightSalmon;
}

/* Responsive design */
@media (min-width: 768px) {
  body {
    margin: 2em auto;
    max-width: 50em;
    font-size: 1.2em;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 4em;
  }

  button {
    width: 200px;
    font-size: 1.2em;
    padding: .75em;
  }

  #score {
    width: 480px;
    margin: 240px auto 2em;
  }

  #score svg {
    width: 400px;
    height: 220px;
    margin-top: -220px;
    padding-bottom: 4px;
  }

  #score p {
    font-size: 2em;
  }

  form[name="quizForm"] div {
    flex: 1 45%;
  }

  .box {
    width: 80%;
    margin: 125px auto 1em;
  }

  .box2 {
    margin: 1.2em auto .25em;
    flex-wrap: nowrap;
  }

  .box3 {
    width: 300px;
    margin: 170px auto .5em;
  }
  
  .box img {
    max-width: 300px;
    margin-top: -125px;
  }

  .box2 img {
    max-width: 100px;
    margin-right: 1em;
  }

  .box2 span {
    padding: 2em;
  }

  .box3 img {
    max-width: 200px;
    margin-top: -140px;    
  }

  #info {
    margin: 0 auto 2.5em;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
