/* "Mobile first" */

@font-face {
  font-family: "MelodySummer";
  src: url("../font/Melody\ Summer.ttf") format("truetype");
}

@font-face {
  font-family: "SummerSplash";
  src: url("../font/Summer\ Splash.otf") format("opentype");
}

body {
  margin: 0.5em auto;
  width: 95%;
  text-align: center;
  background: #daeaf3 url(../img/beach.png) center/cover no-repeat fixed;
  color: DimGray;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: DodgerBlue;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-family: "SummerSplash", Helvetica, Arial, sans-serif;
  font-size: 2em;
  color: Gold;
  text-shadow: 3px 3px 0px DarkOrange;
}

h2 {
  font-family: "MelodySummer", Helvetica, Arial, sans-serif;
  font-size: 3em;
  margin: 0.1em 0;
  color: MediumSeaGreen;
}

button {
  font-family: "SummerSplash", Helvetica, Arial, sans-serif;
  padding: 0.6em 1em 0.5em;
  margin: 1.5em 0.5em 1em;
  width: 150px;
  font-size: 1em;
  font-variant: small-caps;
  letter-spacing: 1pt;
  border: none;
  background-color: MediumSeaGreen;
  color: white;
  cursor: pointer;
  border-right: 1px solid SeaGreen;
  border-bottom: 4px solid SeaGreen;
}

button:hover {
  background-color: LimeGreen;
}

button:hover,
#score,
main {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.15);
}

button:disabled {
  background-color: DarkGray;
  border-right: 1px solid Gray;
  border-bottom: 4px solid Gray;
}

button:disabled:hover {
  box-shadow: none;
}

header img {
  width: 100%;
  max-width: 64px;
  height: auto;
  vertical-align: middle;
  padding-bottom: 0.25em;
}

main {
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.5em;
}

#quiz,
#result {
  display: none;
}

#score {
  width: 290px;
  margin: 150px auto 2em;
  padding-bottom: 0.4em;
  background-color: #daeaf3;
  border-radius: 7px;
}

#score svg {
  width: 250px;
  height: 138px;
  margin-top: -140px;
  padding-bottom: 8px;
}

#score p {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-family: "SummerSplash", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  color: DarkOrange;
  text-shadow: 2px 2px 0px Gold;
}

#error {
  border: none;
  padding-left: 3em;
  padding-right: 3em;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

#error div {
  outline: none;
}

#error::backdrop {
  position: fixed;
  inset: 0;
  background: #0006 !important;
  backdrop-filter: blur(2px);
}

#error h2 {
  margin-top: 0.75em;
}

#ok {
  margin: 1.5em 0 0.75em;
  padding: 0.75em 2em 0.5em;
  border: none;
  border-radius: 22px;
  text-transform: uppercase;
}

#ok:focus {
  outline: 2px solid LightSeaGreen;
}

#zone {
  border: none;
  background: none;
}

.spinner {
  margin: 0 auto;
  border: 5px solid LightGray;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: DarkOrange;

  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

footer {
  margin: 2em 0;
}

#github {
  width: 16px;
  height: auto;
  vertical-align: middle;
}

#tMeter {
  display: none;
}

#total {
  display: inline-block;
  margin-top: 1em;
  position: relative;
  width: 200px;
}

#total::before {
  content: "Poor";
  font-size: small;
  position: absolute;
  top: -80%;
  left: 0;
}

#total::after {
  content: "Excellent";
  font-size: small;
  position: absolute;
  top: -80%;
  right: 0;
}

#scoresTable {
  width: 250px;
  margin: 2em auto 1em;
  border-collapse: collapse;
  font-size: 0.75em;
}

#scoresTable table,
#scoresTable tr,
#scoresTable th,
#scoresTable td {
  padding: 0.25em 0.5em;
  border: 2px solid LightSeaGreen;
}

#scoresTable th {
  font-variant: small-caps;
  color: SeaGreen;
  background-color: HoneyDew;
}

label[for=total],
label[for=numQuestions] {
  font-variant: small-caps;
  color: SeaGreen;
}

#numQuestions {
  margin-top: 2em;
}

/* Responsive design */
@media (min-width: 768px) {
  body {
    margin: 2em auto;
    max-width: 50em;
    font-size: 1.2em;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 4em;
  }

  button {
    width: 200px;
    font-size: 1.2em;
  }

  #score {
    width: 480px;
    margin: 240px auto 2em;
  }

  #score svg {
    width: 400px;
    height: 220px;
    margin-top: -220px;
    padding-bottom: 4px;
  }

  #score p {
    font-size: 2em;
  }
}
